@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&display=swap");
* {
  font-family: "Signika Negative", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
ion-content {
  --background: #aad7fc;
}
.home-content img {
  width: 100%;
  height: 20rem;
  border-radius: 0px 0px 35% 35%;
}
.home-content ion-card {
  --background: #aad7fc;
  text-align: center;
}
.home-content ion-card-content{
  font-size: 22px;
}
.home-content .btnL{
  position: absolute;
  bottom: 2%;
  right: 2%;
}
.home-content .btnS{
  position: absolute;
  bottom: 2%;
  right: 42%;
}